.all-images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
    /* border: red 1px solid; */
    background-image: url("https://scitechdaily.com/images/Vast-Universe-Concept.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.image-title
 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(214, 184, 218, 0.842);
    margin: 10px;
    text-decoration: none;
    width: 400px;
    padding: 0 12px 0 12px;
}

.image-container {
    /* border: #cb9bba solid 1px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 25px 25px 25px;
    border-radius: 3rem;
    background-color: rgb(48, 68, 85);
    transition: background-color 0.3s;
}

.single-image {
    width: 300px;
    height: 300px;
}

.image-container:hover {
    background-color: #1b1624;
    cursor: pointer;
}

.image-btns {
    display: flex;
    justify-content: center;
    margin-top: 5px
}

.edit-btn,
.delete-btn {
    margin-right: 10px;
    width: 100px;
    height: 2rem;
    border-radius: 1rem;
    background-color: transparent;
    color: rgba(214, 184, 218, 0.842);
    font-size: 1.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
}

.edit-btn:hover,
.delete-btn:hover {
    background-color: #344aaabb;
}

.errors {
    color: white;
    font-size: 1.5rem;
}

.image-content {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ddcc93;
    margin: 10px;
    text-decoration: none;
    width: 400px
}

.all-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
