.btn-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
}

.nav-home,
.nav-add,
.nav-explore {
    position: relative;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.home-btn.active {
    margin-right: 10px;
}

.home-btn.active,
.add-btn,
.explore-btn,
.signup-btn {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.fas-container {
    background-color: white;
}

.fas-container:hover {
    background-color: #5f1f85;
    color:white
}

li {
    list-style: none;
}

.logout-btn {
    background-color: transparent;
    color: white;
    border: none;
}

.logout-btn:hover {
    color: #ffc107;
    font-weight:bold;
}

.username,
.email {
    color: white;
}

.login-btn {
    margin-right: 10px
}

.home-btn:hover,
.add-btn:hover,
.explore-btn:hover,
.signup-btn:hover {
    color: #ffc107;
}

.fas-container {
    background-color: transparent;
    border: none;
}

.fas-container:hover {
    color:#ffc107;
    background-color: transparent;
}

.fa-user-circle {
    color: white
}

.fa-user-circle:hover {
    color: #ffc107
}

.add-btn {
    display: flex;
}

.explore-text,
.upload-text {
    margin-left: 0.5rem;
}

.demo-button {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: Transparent;
    border: none;
    margin-left: 0.5rem;
}

.demo-button:hover {
    color: #ffc107;
}
